<div class="jumbotron">
  <h1>Verbcoach gameserver</h1>
  <p>
    <a class="btn btn-lg btn-primary" href="{{context-root}}/signup">Sign up</a>
    or
    <a class="btn btn-lg btn-primary" href="{{context-root}}/login">Log in</a>
  </p>
</div>
