<div class="jumbotron">
  <h1>Welkom in Amsterdam</h1>
  <p>
    <a class="disabled btn btn-lg btn-primary" href="{{context-root}}/signup">Create an account</a>
    or
    <a class="btn btn-lg btn-primary" href="{{context-root}}/login/form">Log in</a>
  </p>
</div>
