<div class="jumbotron">
  <h1>Gameserver</h1>
    <p>..is ready for <i>you!</i></p>
  <p>
    <a class="btn btn-lg btn-primary" href="{{context-root}}/signup">Create an account</a>
    or
    <a class="btn btn-lg btn-primary" href="{{context-root}}/login">Log in</a>
  </p>
</div>
