<div id="world">
  <div id="me">
  </div>

  <div id="playerbox">
  </div>

  <div id="infobox">
  </div>

  <div id="streetviewcontainer">
   <h4>Street View</h4>
   <div id="streetview">
&nbsp;
   </div>
  </div>

  <div id="map">
  </div>
</div>
