<div id="world">

  <div id="me" onclick=""  style=""> &nbsp;
  </div>

  <div id="playerbox">
  </div>

  <div id="infobox">
  </div>

  <div id="streetviewcontainer">
   <h4>Street View</h4>
   <div id="streetview">
   </div>
  </div>

  <div id="acd">
  </div>

  <div id="map">
  </div>

  <div id="userinput">
    <input name="userinput" size="20"> </input>
  </div>

</div>
