<div id="world">

  <div id="me" onclick=""  style=""> &nbsp;
  </div>

  <div id="playerbox">
  </div>

  <div id="placebox">

    <div id="infobox">
    </div>

    <div id="ccd">
    </div>

    <div id="userinputdiv">
      <input id="userinput" name="userinput" size="30" value="test"> </input>
      <div id="response">
      </div>
    </div>

  </div>


  <div id="streetviewcontainer">
   <h4>Street View</h4>
   <div id="streetview">
   </div>
  </div>


  <div id="map">
  </div>

</div>
