#infobox {
    left:1%;
    width:30%;
    z-index:1;
    border:0px dashed blue;
    top:10%;
    max-height:35%;
    position:absolute;
}

#infobox textarea {
    width: 95%;
    margin:1%;
    height: 4em;
    border: 3px solid #cccccc;
    padding: 5px;
}

#infobox h4 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align:center;
    padding:0.25em;
    margin:0;
    opacity:0.9;
}

#infobox > div {
    position:relative;
    margin-right:0.5em;
    float:left;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    background:#ffffff;
}

#infobox table {
    margin:0.25em;
}

#infobox th {
    vertical-align:top;
    padding:.25em;
    padding-right:3em;
    border-bottom:0px solid #ccc;
}

#infobox td {
    width:10em;
    border-bottom:1px solid #ccc;
}
