#infobox > div {
    margin:0.25em;
    position:relative;
    margin-right:0.5em;
    float:left;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    background:#ffffff;
}

#infobox h4 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align:center;
    padding:0.25em;
    margin:0;
    opacity:0.9;
}

div.grammar {
    text-align:left;
}

div.vocab {
    text-align:right;
}

div.grammar span {
    border-radius:10px;
    border:1px solid #ccc;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.25em;
    padding-bottom:0.25em;
}

div.vocab span {
    border-radius:10px;
    border:1px solid #ccc;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.25em;
    padding-bottom:0.25em;
    
}
