#infobox {
    left:1%;
    width:30%;
    z-index:1;
    border:0px dashed blue;
    top:10%;
    max-height:35%;
    position:absolute;
}

#infobox textarea {
    width: 95%;
    margin:1%;
    height: 4em;
    border: 3px solid #cccccc;
    padding: 5px;
}

#infobox h4 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align:center;
    padding:0.25em;
    margin:0;
    opacity:0.9;
}

#infobox > h4 {
    text-align:left;
    background:blue;
}

#infobox > div {
    position:relative;
    margin-right:0.5em;
    float:left;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    background:#ffffff;
}

#infobox table {
    margin:0.25em;
}

#infobox th {
    vertical-align:top;
    padding:.25em;
    padding-right:3em;
    border-bottom:0px solid #ccc;
}

#infobox td {
    width:10em;
    border-bottom:0px solid #ccc;
}
#infobox ul {
    padding:0;
    list-style-type:none;
}

div#use span {
    border-radius:10px;
    border:1px solid #ccc;
    padding-left:0.5em;
    padding-right:0.5em;
    paddiong-top:0.25em;
    paddiong-bottom:0.25em;
    
}

span.used {
    padding-left:1em;
    padding-right:1em;
    margin-right:1em;
    background:#ccc;
}

span.meta {
    font-weight:bold;
    font-style:italic;
}

span.blank1 {
    text-decoration: underline;
}


span.meta {
    font-style:italic;
}
