#userinputdiv {
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    background:#ffffff;
    padding:3px;
    margin:3px;
    background:#ccc;
}

#userinputdiv input {
    font-size:200%;
}

#response {
    background:white;
    width:100%;
    margin-top:0.5em;
    height:3em;
}

#response p {
    padding:0.25em;
    font-size:larger;
    border:0px dashed green;
}

#response span {
    border-radius:10px;
    border:1px solid #ccc;
    padding-left:0.25em;
    padding-right:0.25em;
    padding-top:0.25em;
    padding-bottom:0.25em;
}

.vocab {
    font-weight:bold;
    float:left;
    width:auto;
    text-align:left;
}

.tenses {
    font-weight:bold;
    float:right;
    text-align:right;
    width:auto;
}
