#userinputdiv {
    background:#ffffff;
    padding:3px;
    margin:3px;
    background:white;
}

#response {
    background:white;
    width:100%;
    margin:0;
    padding:0em;
    min-height:2.5em;
}

#response p {
    margin:0;
    font-size:larger;
    border:0px dashed green;
}

#response span {
    border-radius:20px;
    border:1px solid #ccc;
    padding-left:0.125em;
    padding-right:0.125em;
    padding-top:0.125em;
    padding-bottom:0.125em;
}

#response p.input-spinner {
    width:100%;
    text-align:center;
}

#response p.input-spinner span {
    border:0;
    padding:0;
    margin:0;
    font-size: large;
}

.vocab {
    font-weight:bold;
    float:left;
    width:auto;
    text-align:left;
}

.tenses {
    font-weight:bold;
    float:right;
    text-align:right;
    width:auto;
}
