#placebox {
    max-width:65%;
    margin-right:0.5em;
    float:left;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    background:white;
}

/* TODO: factor out duplicated stuff in playerbox.css. */
#placebox > h4 {
    width:100%;
    float:left;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align:center;
    padding:0.25em;
    margin:0;
    opacity:0.9;
}

#placebox div {
    padding:0;
    float:left;
    width:auto;
    border:0px dashed green;
}

#placebox.div div.items {
    width:40%;
    padding:0.25em;
}

#placebox p {
    float:left;
    width:auto;
    border:0px dashed blue;
}

div#placebox span {
    border-radius:9px;
    border:2px solid #ccc;
    padding:0.25em;
    margin:0;
    white-space:nowrap;
}

div#placebox div.counter {
    text-align:center;
    width:2em;
    font-size:200%;
}

