#placebox {
    margin-right:0.5em;
    float:left;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    background:white;
}

/* TODO: factor out duplicated stuff in playerbox.css. */
#placebox > h4 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align:center;
    padding:0.25em;
    margin:0;
    opacity:0.9;
}

div.three {
    float:left;
    width:33%;
}

div.three h3,h4 {
    text-align:center;
}

.grammar {
    font-weight:bold;
    float:right;
    text-align:right;
}

#placebox table {
    width:100%;
}

#placebox th {
    width:50%;
    font-size:200%;
    text-align:center;
}

div.three span {
    border-radius:10px;
    border:1px solid #ccc;
    padding:0.25em;
    margin:0;
    white-space:nowrap;
}
