div.player_info {
    width:auto;
    position:relative;
    margin-right:0.5em;
    float:left;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    background:#ffffff;
}

div.player_info table {
    margin-top:0;
    margin-left:0.25em;
    margin-right:0.25em;
    margin-bottom:0.25em;
    display:block;
    background:#ffffff;
    color:black;
    width:auto;
}

div.player_info td {
    width:auto;
    text-align:right;
}

div.player_info h4 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align:center;
    padding:0.25em;
    margin:0;
    opacity:0.9;
}

.open {
    background: #ccc;
}

.unsolved {
    background: white;
}

.player0 {
    background: #008fff;
    color:#ffef59;
}
.player1 {
    background: #ff0000;
    color:#ffef59;
}

.player2 {
    background: #88ff00;
    color:#3338ff;
}

.player3 {
    background: #778800;
    color:#280000;
}
