/* TODO break into smaller stylesheets. */
#world {
    float:left;
    width:100%;
}

#map {
    position:absolute;
    left:0;
    top:0%;
    width:100%;
    height:100%;
}

#playerbox {
    left:1%;
    z-index:1;
    bottom:5%;
    max-height:9%;
    position:absolute;
}

#me {
    left:1%;
    top:10%;
    z-index:1;
    max-height:9%;
    position:absolute;
}

#placebox {
    z-index:1;
    left:1%;
    top:20%;
    max-height:60%;
    position: absolute;
}

#infobox {
    padding:0;
    margin:0;
    border:0px dashed blue;
}

#ccd {
    padding:0;
    margin:0;
    border:0px dashed blue;
}

#userinputdiv {
}

