/* TODO break into smaller stylesheets. */
#world {
    float:left;
    width:100%;
}

#map {
    position:absolute;
    left:0;
    top:0%;
    width:100%;
    height:100%;
}

#playerbox {
    right:10%;
    z-index:1;
    bottom:5%;
    max-height:9%;
    position:absolute;
}

#me {
    left:1%;
    bottom:5%;
    z-index:1;
    max-height:9%;
    position:absolute;
}

#placebox {
    z-index:1;
    left:1%;
    top:8%;
    max-height:60%;
    position: absolute;
}

/* TODO: factor out duplicated stuff in infobox.css (#infobox > h4) and playerbox.css. */
#placebox > h4 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align:center;
    padding:0.25em;
    margin:0;
    opacity:0.9;
}

#infobox {
    padding:0;
    margin:0;
    border:0px dashed blue;
}

#ccd {
    padding:0;
    margin:0;
    border:0px dashed blue;
}

#userinputdiv {
}

