/* TODO break into smaller stylesheets. */
#world {
    float:left;
    width:100%;
}

#map {
    position:absolute;
    left:0;
    top:0%;
    width:100%;
    height:100%;
}

#playerbox {
    left:1%;
    z-index:1;
    top:85%;
    max-height:9%;
    position:absolute;
}

#me {
    right:10%;
    width:10%;
    z-index:1;
    top:85%;
    max-height:9%;
    position:absolute;
}

#infobox {
    padding:0;
    margin:0;
    left:1%;
    width:30%;
    z-index:1;
    border:0px dashed blue;
    top:10%;
    max-height:35%;
    position:absolute;
}

#acd {
    padding:0;
    margin:0;
    left:1%;
    width:30%;
    z-index:1;
    border:0px dashed blue;
    top:35%;
    max-height:35%;
    position:absolute;
}

#userinputdiv {
    left:1%;
    top:70%;
    z-index:1;
    position:absolute;
}
