#world {
    float:left;
    width:100%;
}

#playerbox {
    left:1%;
    width:90%;
    z-index:1;
    border:0px dashed blue;
    top:80%;
    max-height:9%;
    position:absolute;
}

#playerbox > div {
    width:auto;
    position:relative;
    margin-right:0.5em;
    float:left;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    background:#ffffff;
}

#playerbox table {
    margin-top:0;
    margin-left:0.25em;
    margin-right:0.25em;
    margin-bottom:0.25em;
    display:block;
    background:#ffffff;
}

#playerbox h4 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align:center;
    padding:0.25em;
    margin:0;
    opacity:0.9;
}

.player1 h4 {
    background: #0010a5;
    color:#ffef59;
}
.player2 h4 {
    background: #ffff00;
    color:#0000ff;
}
.player3 h4 {
    background: #888700;
    color:#3338ff;
}

#map {
    position:absolute;
    left:0;
    top:10%;
    width:100%;
    height:90%;
}

