/* TODO break into smaller stylesheets. */
#world {
    float:left;
    width:100%;
}

#map {
    position:absolute;
    left:0;
    top:0%;
    width:100%;
    height:100%;
}

#playerbox {
    left:1%;
    z-index:1;
    top:80%;
    max-height:9%;
    position:absolute;
}

#me {
    right:10%;
    width:10%;
    z-index:1;
    top:80%;
    max-height:9%;
    position:absolute;
}

#infobox {
    padding:0;
    margin:0;
    left:1%;
    width:30%;
    z-index:1;
    border:0px dashed blue;
    top:10%;
    max-height:35%;
    position:absolute;
}

#acd {
    padding:0;
    margin:0;
    left:1%;
    width:30%;
    z-index:1;
    border:0px dashed blue;
    top:35%;
    max-height:35%;
    position:absolute;
}

#streetviewcontainer {
    padding:0;
    margin:0;
    right:1%;
    top:10%;
    width:30%;
    height:30%;
    z-index:1;
    border:0px dashed blue;
    position:absolute;
}

#streetviewcontainer h4 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align:center;
    padding:0.25em;
    margin:0;
    opacity:0.9;
}

#streetviewcontainer h4 {
    background:#000;
    color:#999;
}

#streetview {
    padding:0;
    margin:0;
    width:100%;
    height:100%;
}

#userinputdiv {
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
    background:#ffffff;
    padding:3px;
    margin:3px;
    left:35%;
    top:65%;
    height:10%;
    z-index:1;
    position:absolute;
    background:#ccc;
}

#userinputdiv input {
    font-size:200%;
}


