/* TODO break into smaller stylesheets. */
#world {
    float:left;
    width:100%;
}

#map {
    position:absolute;
    left:0;
    top:0%;
    width:100%;
    height:100%;
}

#playerbox {
    right:10%;
    z-index:1;
    bottom:6%;
    max-height:9%;
    position:absolute;
}

#me {
    left:1%;
    bottom:5%;
    z-index:2;
    max-height:9%;
    position:absolute;
}

#placebox {
    z-index:2;
    left:1%;
    top:9%;
    position: absolute;
    max-width:60%;
    max-height:30%;
}

#streetviewcontainer {
    display:none; /* c.f. config.js:googleStreetViewPosition */
    right:5%;
    top:10%;
    width:30%;
    height:30%;
    z-index:1;
    position:absolute;
}

#userinputdiv {
    z-index:1;
    left:1%;
    top:50%;
    position: absolute;
}

