<div style="width:20em">
  <h4 class="{{css_class}}">Claim</h4>
  <div style="margin:1em">
  Type a sentence which has:
 
  <ul>
    <li>at least one of the place's tenses, and</li>
    <li>at least one of the place's vocab.</li>
  </ul>

    <table>	
      <tr>	
        <th/><th>Matched</th><th>Remaining</th>
      </tr>		
      <tr>
        <th>Tenses</th><td>0</td><td>3</td>
      </tr>
      <tr>
        <th>Vocab</th><td>2</td><td>4</td>
      </tr>
    </table>
  </div>
</div>
