<div style="width:20em">
  <h4 class="{{css_class}}">Claim this</h4>
  <div style="margin:0.5em">
    <table>	
      <tr>	
        <th/><th>Matched</th><th>Remaining</th>
      </tr>		
      <tr>
        <th>Tenses</th><td>1</td><td>3</td>
      </tr>
      <tr>
        <th>Vocab</th><td>2</td><td>4</td>
      </tr>
    </table>
    <p>Type sentences that match this place's tenses and vocab, like the ones below.</p>	
    <ul>
      <li>Io parlavo</li>
      <li>Io ho parlato</li>
    </ul>
  </div>
</div>
