<div style="width:20em">
  <h4 class="{{css_class}}">{{place_name}}</h4>
  <div class="grammar">
    <h4>Tenses</h4>
    <p>
       <span>imperfetto</span>
       <span>passato prossimo</span>
    </p>
  </div>
  <div class="vocab">
    <h4>Vocab</h4>
    <p>
       <span>parlare</span>
       <span>mangiare</span>
    </p>
  </div>
</div>

