<div>
  <h4 class="{{css_class}}">{{name}}</h4>
  <div id="language" style="padding:0.25em"> <!-- TODO make 'language' a class, not an id. -->
    <div id="use">
      <p>
	<span class="used">io</span>
	<span>mangiare</span>
        <span class="used">parlare</span>
        <span class="used meta">imperfetto</span>
      </p>
    </div>

    <textarea name="ok" placeholder="agguingi le tue sentenze.."></textarea>
  </div>
</div>

