<h4 class="{{css_class}}">{{place_name}}</h4>
<div class="three grammar">
  <h4 style="text-align:center">Vocab</h4>
  <p>
    <span class="remaining">mangiare</span>
    <span>parlare</span>
  </p>
</div>
<div class="three">
  <table>
    <tr><th colspan="3"><h4 style="text-align:center">{{top_message}}</h4></th></tr>
    <tr>
      <th class="vocab">1</th>
      <th style="width:50%;whitespace:nowrap;">To Go</th>
      <th class="grammar">1</th>
    </tr>
  </table>
</div>
<div class="three vocab">
  <h4 style="text-align:center">Tenses</h4>
  <p>
    <span class="remaining">imperfetto</span>
    <span>passato prossimo</span>  
</div>
