<h4>{{top_message}}</h4>
<p><i>{{cue}}</i></p>
<div class="items" style="float:left">
  <p>
  {{#vocab}}
    <span class="{{class}}">{{name}}</span>
    <span class="badge">{{instances}}</span>
{{/vocab}}
  </p>
</div>
<div class="items" style="float:right">
  <p>
  {{#tenses}}
    <span class="{{class}}">{{name}}</span>
    <span class="badge">{{instances}}</span>
  {{/tenses}}
  </p>
</div>
<h4 class="{{css_class}}">{{place_name}}</h4>
