<div id="player{{id}}_box" class="{{css_class}}">
  <h4 class="{{css_class}}">{{name}}
  <img src="/images/icons/{{icon}}.svg"> </img></h4>
  <table>
    <tr>
      <th>Places</th>
      <td id="player{{id}}-places">{{places_count}}</td>
    </tr>
    <tr>
      <th>Points</th>
      <td id="player{{id}}-points">{{points}}</td>
    </tr>
  </table>
</div>
